@model IEnumerable<SchoolManagement.MVC.ViewModels.DisciplinaViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDisciplina)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.DisciplinaId })
        </td>
    </tr>
}

</table>
