<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Home</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

    </div><!-- /.content-wrapper -->
@{
    if (ViewBag.AlertMessage != null)
    {
        <div id="dialog" title="Aviso!">
            <p>@ViewBag.AlertMessage</p>
        </div>
    }
}

<script>
    $(document).ready(function () {
        $("#dialog").dialog("open");
    });
</script>